## Criando Dataframme

In [0]:
# Criando um DataFrame com dados fixos
dados = [
    ("Grimaldo", "Oliveira", "Brasileira", "Professor", "M", 3000),
    ("Ana", "Santos", "Portuguesa", "Atriz", "F", 4000),
    ("Roberto", "Carlos", "Brasileira", "Analista", "M", 4000),
    ("Maria", "Santanna", "Italiana", "Dentista", "F", 6000),
    ("Jeane", "Andrade", "Portuguesa", "Medica", "F", 7000)
]

colunas = ["Primeiro_Nome", "Ultimo_nome", "Nacionalidade", "Trabalho", "Genero", "Salario"]

# Criando o DataFrame no Spark
datafparquet = spark.createDataFrame(dados, colunas)

# Exibindo o conte√∫do do DataFrame
datafparquet.show()

+-------------+-----------+-------------+---------+------+-------+
|Primeiro_Nome|Ultimo_nome|Nacionalidade| Trabalho|Genero|Salario|
+-------------+-----------+-------------+---------+------+-------+
|     Grimaldo|   Oliveira|   Brasileira|Professor|     M|   3000|
|          Ana|     Santos|   Portuguesa|    Atriz|     F|   4000|
|      Roberto|     Carlos|   Brasileira| Analista|     M|   4000|
|        Maria|   Santanna|     Italiana| Dentista|     F|   6000|
|        Jeane|    Andrade|   Portuguesa|   Medica|     F|   7000|
+-------------+-----------+-------------+---------+------+-------+

## Gravando o arquivo parquet

In [0]:
datafparquet.write.format("parquet").save("/FileStore/tables/parquet/pessoal.parquet")

## Subscrevendo o srquivo parquet

In [0]:
datafparquet.write.format("parquet").mode("overwrite").save("/FileStore/tables/parquet/pessoal.parquet")

## Lendo arquivo parquet

In [0]:
df_parquet = spark.read.parquet("/FileStore/tables/parquet/pessoal.parquet")
datafparquet.show(5)

+-------------+-----------+-------------+---------+------+-------+
|Primeiro_Nome|Ultimo_nome|Nacionalidade| Trabalho|Genero|Salario|
+-------------+-----------+-------------+---------+------+-------+
|     Grimaldo|   Oliveira|   Brasileira|Professor|     M|   3000|
|          Ana|     Santos|   Portuguesa|    Atriz|     F|   4000|
|      Roberto|     Carlos|   Brasileira| Analista|     M|   4000|
|        Maria|   Santanna|     Italiana| Dentista|     F|   6000|
|        Jeane|    Andrade|   Portuguesa|   Medica|     F|   7000|
+-------------+-----------+-------------+---------+------+-------+

## Realizando consulta com SQL

In [0]:
df_parquet.createOrReplaceTempView("Tb_parquet")

Result = spark.sql("SELECT * FROM tb_parquet WHERE salario >= 6000")

Result.display()

Primeiro_Nome,Ultimo_nome,Nacionalidade,Trabalho,Genero,Salario
Maria,Santanna,Italiana,Dentista,F,6000
Jeane,Andrade,Portuguesa,Medica,F,7000